<?xml version="1.0"?>
<socket_listener_db>
	<configuraciones>
		<!--Puerto Destinado al Servicio-->
		<puerto>5555</puerto>
		<!--Dirección de base de datos-->
		<database_host>localhost</database_host>
		<!--Nombre de la base de datos -->
		<database_name>serverdb</database_name>
		<!--Usuario de base de datos-->
		<database_user>root</database_user>
		<!--Passord de base de datos-->
		<database_pass>root</database_pass>
		<!--Prefijo archivo log-->
		<archivo_log>SocketListenerDb</archivo_log>
	</configuraciones>
</socket_listener_db>
